<h1>Listing des personnes</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Scene</th>
      <th>Voir les infos</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @personnes.each do |personne| %>
      <tr>
        <td><%= personne.nom %></td>
        <td><%= personne.scene_id %></td>
        <td><%= link_to 'Infos', personne %></td>
        <td><%= link_to 'Editer', edit_personne_path(personne) %>|<%= link_to 'Supprimer', personne, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Créer un nouveau personnage", '/personnes/new', :class => "signup_button round" %>
