<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @personne.nom %>
</p>

<p>
  <strong>Scene:</strong>
  <%= @personne.scene_id %>
</p>

<%= link_to 'Edit', edit_personne_path(@personne) %> |
<%= link_to 'Back', personnes_path %>
