<h1>Listing scenes</h1>

<table>
  <thead>
    <tr>
      <th>Periode</th>
      <th>Lieu</th>
      <th>Chapitre</th>
      <th>N° Scene</th>
      <th>Infos</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @scenes.each do |scene| %>
      <tr>
        <td><%= scene.periode %></td>
        <td><%= scene.lieu %></td>
        <td><%= scene.chapitre_id %></td>
        <td><%= scene.id %></td>
        <td><%= link_to 'Infos', scene %></td>
        <td><%= link_to 'Editer', edit_scene_path(scene) %>|<%= link_to 'Supprimer', scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Créer Scene", new_scene_path, :class => "signup_button round" %>
