<p id="notice"><%= notice %></p>
<p>
  <strong>Description de la scene n° </strong>
  <%= @scene.id %>
</p>
<p>
  <strong>Recit:</strong>
  <%= @scene.recit %>
</p>

<p>
  <strong>Periode:</strong>
  <%= @scene.periode %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @scene.lieu %>
</p>

<p>
  <strong>Chapitre associé :</strong>
  <%= @scene.chapitre_id %>
</p>

<p>
	<TABLE align="center"> 
		<TR> 
			 <TH><strong>Personnages associés:</strong></TH> 
  		</TR> 
		<% @scene.personnes.each do |c| %>
			<TR> 
				<TH><small><%= c.nom %></small></TH> 
			</TR>
		<% end %>

	</TABLE> 
</p>

<%= link_to 'Edit', edit_scene_path(@scene) %> |
<%= link_to 'Back', scenes_path %>
