<h1>Listing des chapitres</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Titre</th>
      <th>Voir les infos</th>
      <th>Modifier</th>
      <th>Supprimer</th>
    </tr>
  </thead>

  <tbody>
    <% @chapitres.each do |chapitre| %>
      <tr>
        <td><%= chapitre.numero %></td>
        <td><%= chapitre.titre %></td>
        <td><%= link_to 'Infos', chapitre %></td>
        <td><%= link_to 'Editer', edit_chapitre_path(chapitre) %></td>
        <td><%= link_to 'Supprimer', chapitre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "Créer un nouveau chapitre", new_chapitre_path, :class => "signup_button round" %>
