<header>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Chapitres", chapitres_path %></li>
			<li><%= link_to "Anecdotes", anecdotes_path %></li>
			<li><%= link_to "Scenes", scenes_path %></li>
			<li><%= link_to "Personnes", personnes_path %></li>
		</ul>
	</nav>
</header>